<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>AngulaRank</title>
    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Style.css-->
    <link href="assets/css/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/app-rank-list.js"></script>
    <script src="assets/js/app-modal.js"></script>
    <script src="assets/js/dirPagination.js"></script>
    <script src="assets/js/ui-bootstrap-custom-tpls-0.12.0.js"></script>
    <script src="assets/js/functions.js"></script>
</head>

<body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">AngulaRank</a>
        </div>
      </div>
    </nav>
    <div class="container" ng-app="angulaRankApp">
        
        <div ng-controller="detailsModalCtrl">
            
        </div> <!-- end of modal controller-->
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><i class="fa fa-github" aria-hidden="true"></i> Provide organization git name</div>
                    <div class="panel-body" ng-controller="requestCtrl">
                        <div class="input-group">
                            <input ng-model="gitName" type="text" class="form-control" placeholder="GitHub organization name">
                            <span class="input-group-btn">
                                <button ng-click="getContributorList()" class="btn btn-default" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div ng-controller="resultsCtrl">
                    
                    <!-- loader -->
                    <div class="row" ng-show="fetchingRequest">
                        <div class="col-xs-12">
                            <p class="text-center">
                                <i class="fa fa-spinner fa-pulse fa-3x fa-fw" aria-hidden="true"></i>
                            </p>
                        </div>
                    </div>
                    
                    <!-- info and errors -->
                    <div ng-show="firstRequestMade && contributors.length == 0 && !fetchingRequest && !requestError" class="alert alert-warning" role="alert">Ooops... Couldn't find any contributors for that organization name. Try a different one!</div>
                    <div ng-show="requestError" class="alert alert-danger" role="alert">Sorry! There was an error retrieving data. Try a different organization name.</div>
                    
                    <!-- table panel-->
                    <div ng-show="firstRequestMade && contributors.length > 0 && !fetchingRequest" class="panel panel-default" >
                        <div class="panel-heading">
                            <i class="fa fa-list" aria-hidden="true"></i> Results
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-11 col-md-10 col-xs-9">
                                    <div class="input-group">
                                      <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
                                      <input ng-model="searchTerm" type="text" class="form-control" placeholder="Search">
                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-2 col-xs-3">
                                    <div class="text-center">
                                        <select ng-model="elemPerPage" ng-options="item for item in elemPerPageSelect" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th><a href="#" ng-click="filterToggle('login')">User name <i ng-class="sortDesc ? 'fa-sort-alpha-desc' : 'fa-sort-alpha-asc'" ng-show="sortType == 'login'" class="fa" aria-hidden="true"></i></a></th>
                                            <th><a href="#" ng-click="filterToggle('contributions')">Contributions <i ng-class="sortDesc ? 'fa-sort-amount-desc' : 'fa-sort-amount-asc'" ng-show="sortType == 'contributions'" class="fa" aria-hidden="true"></i></a></th>
                                            <th><a href="#" ng-click="filterToggle('followers')">Followers <i ng-class="sortDesc ? 'fa-sort-amount-desc' : 'fa-sort-amount-asc'" ng-show="sortType == 'followers'" class="fa" aria-hidden="true"></i></a></th>
                                            <th><a href="#" ng-click="filterToggle('publicRepos')">Public repos <i ng-class="sortDesc ? 'fa-sort-amount-desc' : 'fa-sort-amount-asc'" ng-show="sortType == 'publicRepos'" class="fa" aria-hidden="true"></i></a></th>
                                            <th><a href="#" ng-click="filterToggle('publicGists')">Gists <i ng-class="sortDesc ? 'fa-sort-amount-desc' : 'fa-sort-amount-asc'" ng-show="sortType == 'publicGists'" class="fa" aria-hidden="true"></i></a></th>
                                        </tr>
                                    </thead>
                                    <tbody class="link-table">
                                        <tr ng-click="showContributorDetails(contributor)" dir-paginate="contributor in contributors | orderBy:sortType:sortDesc | filter:searchTerm | itemsPerPage:elemPerPage" current-page="currentPage">
                                            <td>{{$index + 1 + (currentPage - 1) * elemPerPage}}</td>
                                            <td><img class="avatar" ng-src="{{contributor.avatarUrl}}"> {{contributor.login}} <small ng-show="contributor.name">[{{contributor.name}}]</small></td>
                                            <td>{{contributor.contributions}}</td>
                                            <td>{{contributor.followers}}</td>
                                            <td>{{contributor.publicRepos}}</td>
                                            <td>{{contributor.publicGists}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <hr>
                                <dir-pagination-controls
                                   max-size="10"
                                   direction-links="true"
                                   boundary-links="true" >
                                </dir-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div> <!-- end of results ctrl -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="assets/js/bootstrap.min.js"></script>
</body>

</html>