@import url('font-awesome.min.css');

.avatar{
    display:inline-block;
    height: 32px;
    width: auto;
    margin-right: 10px;
}

.pagination {
	margin:0;
}

small{
    color:#aaa;
}

.link-table tr:hover{
    cursor: pointer;
}

/*MODAL STYLING*/

.modal-contributor-details-col{
    margin-bottom:20px;
}

.modal-avatar {
	display:block;
    width: 60%;
    margin:0 auto;
}

.modal-small-avatar{
    height: 24px;
    width: auto;
    margin-right:5px;
}

.modal-login{
    margin: 5px 0 0 0;
}

.modal-login a{
    font-size: 16px;
    font-weight: bold;
}

.modal-body .tab-content{
    margin-top:10px;
}

.modal-repo-list{
    max-height: 300px;
}

.fa.fa-spinner{
    margin-top:50px;
}