
<div class="modal-header">
    <h3 class="modal-title">Contributor details</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-4 col-xs-12 modal-contributor-details-col">
            <div class="row">
                <div class="col-xs-6 col-md-12">
                    <img class="modal-avatar img-thumbnail" ng-src="{{contributor.avatarUrl}}" alt="avatar">
                </div>
                <div class="col-xs-6 col-md-12">
                    <p class="text-center modal-login" ng-show="contributor.htmlUrl">
                        <a target="_blank" ng-href="{{contributor.htmlUrl}}">
                            <i class="fa fa-github" aria-hidden="true"></i> {{contributor.login}}
                        </a>
                    </p>
                    <p class="text-center modal-name" ng-show="contributor.name">
                        <small>[{{contributor.name}}]</small>
                    </p>
                    <p class="text-center modal-blog" ng-show="contributor.blog">
                        <a target="_blank" ng-href="{{contributor.blog}}">{{contributor.blog}}
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-xs-12">
             <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#details" aria-controls="home" role="tab" data-toggle="tab">Details</a></li>
                <li ng-show="contributor.publicRepos > 0" ng-click="getRepoList(contributor.reposUrl)" role="presentation"><a href="#public-repos" aria-controls="profile" role="tab" data-toggle="tab">Public repos</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="details">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th># of followers</th>
                                    <td>{{contributor.followers}}</td>
                                </tr>
                                <tr>
                                    <th>Following</th>
                                    <td>{{contributor.following}}</td>
                                </tr>
                                <tr>
                                    <th># of public repos</th>
                                    <td>{{contributor.publicRepos}}</td>
                                </tr>
                                <tr>
                                    <th># of public gists</th>
                                    <td>{{contributor.publicGists}}</td>
                                </tr>
                                <tr ng-show="contributor.location">
                                    <th>Location</th>
                                    <td>{{contributor.location}}</td>
                                </tr>
                                <tr ng-show="contributor.email">
                                    <th>E-mail</th>
                                    <td>{{contributor.email}}</td>
                                </tr>
                                <tr ng-show="contributor.bio">
                                    <th>Bio</th>
                                    <td>{{contributor.bio}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div ng-show="contributor.publicRepos > 0" role="tabpanel" class="tab-pane" id="public-repos">
                    <div class="row">
                        <div class="col-xs-6">
                            <p ng-show="fetchingRepoList" class="text-center">
                                <i class="fa fa-spinner fa-pulse fa-3x fa-fw" aria-hidden="true"></i>
                            </p>
                            <div ng-show="!fetchingRepoList && contributorRepoList.length" class="table-responsive modal-repo-list">
                                <table class="table table-bordered table-hover">
                                    <tbody class="link-table">
                                        <tr ng-class="selectedRepo == repo.repoName ? 'active' : ''" ng-repeat="repo in contributorRepoList">
                                            <td ng-click="getRepoContributorList(repo.repoName, repo.contributorsUrl)">{{repo.repoName}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <p ng-show="fetchingContributorList" class="text-center">
                                <i class="fa fa-spinner fa-pulse fa-3x fa-fw" aria-hidden="true"></i>
                            </p>
                            <div ng-show="!fetchingContributorList && selectedRepoContributorList.length" class="table-responsive modal-repo-list">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr ng-repeat="contributor in selectedRepoContributorList">
                                            <td><img class="modal-small-avatar" ng-src="{{contributor.avatarUrl}}"><a target="_blank" ng-href="{{contributor.htmlUrl}}"><i class="fa fa-github" aria-hidden="true"></i> {{contributor.login}}</a> <small> - {{contributor.contributions}} contribution{{contributor.contributions == 1 ? "" : "s"}}</small> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-show="!fetchingContributorList && repoContributorListRequested && !selectedRepoContributorList.length" class="alert alert-warning" role="alert">Ooops... couldn't find any contributors for this repository. Sorry... Try a different one!</div>
                            <div ng-show="!repoContributorListRequested && !fetchingContributorList" class="alert alert-info" role="alert"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Select a repository to display a list of contributors.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Close</button>
</div>
